<% if @weather_data %>
    <div class="weather-today">
        <div class="row">
            <div class="col-7">
            <h2><b><%= @weather_data['location']['name'] %> (<%= @weather_data['location']['localtime'] %>)</b></h2> 
            <p>Temp: <%= @weather_data['current']['temp_c'] %>째C</p>
            <p>Wind: <%= @weather['current']['wind_kph'] %> km/h</p>
            <p>Humidity: <%= @weather_data['current']['humidity'] %>%</p>
            </div>
            <div class="col-5">
            <center><img src="<%= @weather_data['current']['condition']['icon'] %>"></center>
            <center><%= @weather_data['current']['condition']['text'] %></center>
            </div>
        </div>
    </div>

    <div class="text-4-Day-Forecast">
    4-Day Forecast
    </div>

    <div class="row weather-future">
        <% @weather_data['forecast']['forecastday'][@left..@right].each do |day| %>
            <div class="col-3">
                <div class="detail">
                    <h3><%= Date.parse(day['date']).strftime('%A, %d %b') %></h3>
                    <img src="<%= day['day']['condition']['icon'] %>">
                    <p>Average Temp: <%= day['day']['avgtemp_c'] %>째C</p>
                    <p>Min Temp: <%= day['day']['mintemp_c'] %>째C</p>
                    <p>Max Temp: <%= day['day']['maxtemp_c'] %>째C</p>
                    <p>Max Wind: <%= day['day']['maxwind_kph'] %></p>
                    <p>Humidity: <%= day['day']['avghumidity'] %>%</p>
                </div>
            </div>
        <% end %>
        
        <div class="container-load-more">
            <% if @left > 1 %>
                <%= link_to "Previous", weather_forecasts_path(day: @day - 1, left: @left - 1, right: @right - 1), class: "load-more" %>
            <% else %>
                <span class="not-load-more">Previous</span>
            <% end %>

            <% if @right - @left > 4 %>
                <%= link_to "Less", weather_forecasts_path(day: @day - 4, left: @left, right: @right - 4), class: "load-more" %>
            <% end %>
            <% if @right - @left < 11 &&  @right < 10%>
                <%= link_to "Load More", weather_forecasts_path(day: @day + 4, left: @left, right: @right + 4), class: "load-more" %>
            <% end %> 

            <% if @right < 13 %>
                <%= link_to "Next", weather_forecasts_path(day: @day + 1, left: @left + 1, right: @right + 1), class: "load-more" %>
            <% else %>
                <span class="not-load-more">Next</span>
            <% end %>
        </div>
<% end %>